@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');

* {
	margin: 0;
	padding: 0;
}

html, body {
	font-family: 'Space Mono', monospace;
}

main {
	position: relative;
	height: calc(100vh - 140px);
	width: 100vw;
	background-color: #fff;
	color: #000;
	text-align: center;
	font-size: 8vw;
	line-height: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
}

main a {
	color: #000;
	text-decoration: none;
}

footer {
	position: sticky;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: left;
	justify-content: center;
	align-items: center;
	font-size: 1.5em;
	height: 140px;
	padding: 0 16px;
}

footer a {
	padding-right: 40px;
	color: #000;
/* 	color: #fff;
	text-shadow: 0px 2px 1px rgba(100, 149, 237, 0.5); */
}

footer a:last-child {
	padding-right: 0;
}

/* **************************** */
/* **************************** */

/* Media queries */
@media only screen and (min-width: 1280px) {
	body {
		font-size: 230px;
	}
}
